body {
  background-color: white;
}

div.main {
  max-width: 900px;
  margin: 0 auto;
}

/* FOR SMALLER SCREENS */
@media (max-width:700px) {
.icon {
  flex: 100%;
}
  body {
    background-color: violet;
  }
}

img {max-width: 100%}
/* div.icon img {width: 10%} */

div.icon-wraper{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.icon {
  flex-grow: 1;
  flex-basis: 50%;
  background-color: violet;
}

.icon-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction:  row;
}
