body {
background-color: white;
}

/* FOR SMALLER SCREENS */
@media (max-width:700px) {
.icon {
  flex: 100%;
}
  body {
    background-color: violet;
  }
}

img {width: 50%}
/* div.icon img {width: 10%} */

div.icon-wraper{
  display: flex;
flex-wrap: wrap;
flex-direction: row;
}

.icon {
  width: 50%;
  flex-grow: 1;
  background-color: violet;
}

.icon-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction:  row;
}
